/* Global */
:root {
    --primary-bg-color: white
}

body {
    background-color: var(--primary-bg-color);
}

header {    
    display: flex;
    align-items: center;

    width: 100vw;
    height: 7.5vh;
}
header > div.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: inherit;
}


/* Index */
body.index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main.index {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.latest-book-wrapper.index {
    max-width: 20vw;
    max-height: 70vw;
}


/* Reviews */
body.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main.reviews {
    width: 80%;
}

.book-div.reviews {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    width: 100%;

    margin-top: 5rem;
    margin-bottom: 5rem;
}
.book-div.reviews > img {
    min-width: 20%;
}